body {
  padding-top: 70px;
  padding-bottom: 30px;
}

span.glyphicon.glyphicon-random.unclicked::after {
  content: " Random";
  font-family: "Arial";
}

span.glyphicon.glyphicon-random.clicked::after {
  content: " Pause";
  font-family: "Arial";
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.btn {
  min-width: 139px;
}

.theme-showcase .navbar .container {
  width: auto;
}

.jumbotron {
  background-image: url("./bowling-banner.jpg");
}

#pins_dropdown {
  min-width: 40px;
}

.player-name {
  font-size: 35px;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden
}

h1 {
  text-shadow:1px 1px 0 #fff,
  -1px -1px 0 #fff,
  1px -1px 0 #fff,
  -1px 1px 0 #fff,
  0px 1px 0 #fff,
  1px 0px 0 #fff,
  0px -1px 0 #fff,
  -1px 0px 0 #fff,
  /*4px 4px 3px #000;*/
}

h4 {
  margin-top: 6px !important;
  margin-bottom: 0px !important;
}

.scorebox {
  outline: solid black 2px; 
  margin: 3px;
  padding-left: 2px !important;
  padding-right: 2px !important;
  margin-top: 8px !important;
  min-height: 70px;
  min-width: 48px;
}

.player {
  
}

.space {
  height: 30px;
}

.points {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.dropdown {
  margin-top: 0px !important;
}

.drop-button {
  margin-top: 26px;
}

.current-round {
  /*outline: dotted black 2px;*/
  background: lightgreen;
}

.current-roll {
  background-color:lightblue;
}

.strike {
  outline: solid red 2px;;
}

.spare {
  outline: solid green 2px;;
}

.score-button {
  margin-left: 20px;
}
